{%- if paginate.pages > 1 -%}
  <nav class="pagination" role="navigation" aria-label="{{ 'general.accessibility.pagination.label' | t }}">
    {%- if paginate.previous -%}
      <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.accessibility.pagination.previous' | t }}">&larr;</a>
    {%- endif -%}
    {%- for part in paginate.parts -%}
      {%- if part.is_link -%}
        <a href="{{ part.url }}" aria-label="{{ 'general.accessibility.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
      {%- else -%}
        {%- if part.title == paginate.current_page -%}
          <span class="is-current" aria-current="page">{{ part.title }}</span>
        {%- else -%}
          <span>{{ part.title }}</span>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if paginate.next -%}
      <a href="{{ paginate.next.url }}" aria-label="{{ 'general.accessibility.pagination.next' | t }}">&rarr;</a>
    {%- endif -%}
  </nav>
{%- endif -%}
